<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Agregar Movimiento</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    a{
      color:white;
    }
    a:hover{
      color: darkgrey;
      text-decoration: none;
    }
  </style>
</head>
<body>

<div class="container">
  <h1> Agregue aqui los datos del Movimiento</h1>
  <br>
  <!--Crear formulario para llenar los datos del movimiento y guardarlo en el objeto mov -->
  <form th:action="@{/GuardarMovimiento}" th:object="${mov}" method="post">
    <!--Campo para Concepto-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="concepto">Concepto del Movimiento:</label>
        <div class="col-md-4">
          <input type="text" th:field="*{concepto}" class="form-control" id="concepto" required="required">

        </div>
      </div>
    </div>

    <!--Campo para monto-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="monto">Valor del movimiento:</label>
        <div class="col-md-4">
          <input type="number" th:field="*{monto}" class="form-control" id="monto" required="required">
        </div>
      </div>
    </div>

    <!--Campo para empleado (usuario responsable)-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="usuario">Empleado responsable:</label>
        <div class="col-md-4">
          <select th:field="*{empleado}" class="form-control" id="usuario" required="required" >
            <option th:text="${#httpServletRequest.remoteUser}" th:value="${idEmpleado}"></option>
          </select>
        </div>
      </div>
    </div>

    <!--Campo para Empresa-->
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-3" for="usuario">Empresa:</label>
        <div class="col-md-4">
          <select th:field="*{empresa}" class="form-control" id="empresa" required="required" >
            <option th:text="${#httpServletRequest.remoteUser}" th:value="${id}"></option>
          </select>
        </div>
      </div>
    </div>



    <!--Boton para enviar todo y ejecutar accion -->
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-success">Registrar Movimiento</button>
      </div>
    </div>

  </form>

  <br>
  <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Atrás</a>

</div>
<script th:inline="javascript">
  window.onload=function(){
  document.getElementById("fecha").value=new Date().toJSON().slice(0,10).replace(/-/g,'-');
  }
</script>


</body>
</html>