<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>empresa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1> Lista de Empresas</h1>
    <!--Dibujamos la tabla-->
    <table class="table">
        <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>NIT</th>
        <th>Telefono</th>
        <th>Dirección</th>
        <th>Editar</th>
        <th>Eliminar</th>
        </tr>

        <tr th:each="empresa : ${getEmpresa}">   <!--getEmpresa o atributo de un modelo (del controlador) que lista las empresas (nataly clase 9 (1:48))=-->

            <td th:text="${empresa.id}"></td>
            <td th:text="${empresa.nombre}"></td>
            <td th:text="${empresa.nit}"></td>
            <td th:text="${empresa.telefono}"></td>
            <td th:text="${empresa.direccion}"></td>

            <button type="button" class="btn btn-success"><a th:href="@{/empresa}">Editar Empresa </a></button></td>

        </tr>
    </table>
    </div>
    </body>
    </html>



